{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}

{% block body %}
<br> 
<h2 class='container' style='color:darkgreen; text-align: center;'>My City Online</h2>
<div class=' container shadow-lg my-4 ' style='color: blue;background-color:cornsilk; font-size:larger'>

<b>My City Online </b>,is very helpful product for people. Our Aim is to connect people to <b>promote local bussiness</b>.
<br>
<p>
We are here to provide fast,free,reliable and comprehensive information to our users and connect buyers to sellers, service providers. With a strong in-depth local market knowledge, <b>My City Online</b> wil be always there to listen suggestions.</p>
</div><br><br><br><br><br><br><br><br>  <br><br><br><br><br><br><br><br><br>

 <footer class="text-center text-white" style="background-color: #f1f1f1; position:sticky;">
     
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="#">AnyPlace.com</a>
      </div>
      <!-- Copyright -->
    </footer>


{% endblock body %}



