{% extends 'base.html' %}

{% block title %} Contact Details{% endblock title %}
{% block body %}
<div class ='container my-5'>
<h3>Contact Details:</h3><br><br>
<div class='border border-success p-5 m-5 nav-link ' style='font-family:Arial Black;'>


Saurabh Sharma<br>
7891016117<br>
IET DAVV, Boys Hostel,Indore,452017
</div></div>
<br><br> <br> <br> <br> <br> <br>  <br>

 <footer class="text-center text-white" style="background-color: #f1f1f1; position:sticky;">
     
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="#">AnyPlace.com</a>
      </div>
      <!-- Copyright -->
    </footer>

{% endblock body %}
